body{
    font-family: 'Roboto Slab', serif;

}

.logo-txt{
    font-size: 50px;
    font-weight: 500;
    color: #000;
    text-transform: uppercase;
    text-align: center;
    margin: 20px 0;
    position: relative;
}
a{
    transition: 0.3s all;
}
ol,ul{
    padding: 0;
    margin: 0;
    list-style: none;
}

 .nav{
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    ul{
        float: left;
        li{
            display: inline-block;
            position: relative;
            a{
                font-family: 'Roboto', sans-serif;
                font-size: 16px;
                color: #000;
                text-transform: uppercase;
                padding:20px 30px;
                display: block;
                font-weight: 700;
                transition: 0.3s all;
                &:hover,&:focus{
                    background: none;
                    color:#909190 ;
                    text-decoration: none;
                }
            }
    
            &:after{
                content: "";
                width: 1px;
                height: 20px;
                position: absolute;
                right:0;
                top:20px;
                background: #505050;
            }
        }
    }
   
}

.search-wrap{
    border: 1px solid #a300e2;
    float: right;
    width: 200px;
    margin: 10px;
    display: table;
    div{
        display: table-cell;
        vertical-align: middle;
    }

    input{
        border:none;
        padding: 10px;
    }

    button{
        border:none;
        background: #a300e2;
        display: inline-block;
       padding:11px;
       i{
           color: #fff;
       }

    }
}

.date-label{
    font-size: 13px;
    font-weight: 300;
    display: block;
    margin-top: 10px;
}

.login{
   
    position: absolute;
    right: 0;
    top:20px;
    color: #000;
    font-size: 30px;
    transition: 0.3s all;

    &:hover{
        color: #505050;
    }
}

 .content-wrap{
     padding: 30px 0;
 }
.news-item{
    overflow: hidden;
    margin-bottom: 30px;
    .news-img{
        overflow: hidden;
        transition: all .2s ease-in-out;
    }

    &:hover {
        .news-img{
            transform: scale(1.1);
        }
    }
}
.news-content{
    display: block;
    color: #000;
    &:hover,&:focus{
        color: #ffdc18;
        text-decoration: none;
    }
}
.adv-wrap{
    height: 200px;
    width: 100%;
    position: relative;
    background: #a300e2;
    padding: 50px;
    .carousel-inner>.item{
        height: 130px;
    }
}

.carousel-control{
    background: none!important;
    text-shadow: none;
    opacity: 1;
}

.login-wrap{
    min-height: 470px;
    display: flex;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    .login-box{
        width: 500px;
    background: #fff;
    box-shadow: 1px 1px 15px 0px rgba(186, 186, 186, 0.6);
    overflow: hidden;
    min-height: 350px;
    padding: 30px;
    }
}

.main-title{
    font-size: 28px;
    font-weight: 700;
    text-align: center;
    margin: 0 0 10px;
}
.mb-30{
    margin-bottom: 20px;
}

.form-input-group{

    margin-bottom: 25px;
    input:focus + .focus-input:before {
        width: 100%;
    }

    input:focus + .focus-input::after {
        color: #a300e2;
    }
    position: relative;
    width: 100%;
    position: relative;
    border-bottom: 2px solid #d9d9d9;
    span{
        font-size: 14px;
        color: #333333;
        line-height: 1.5;
        padding-left: 7px;
    }
    input{
       
        font-size: 16px;
        color: #333333;
        line-height: 1.2;
        display: block;
        width: 100%;
        height:45px;
        background: transparent;
        padding: 0 7px 0 43px;
        border:none;
        outline: none;
        &:focus{
            border-color: transparent !important;
     
        }
    }

    .focus-input{
         
            position: absolute;
            display: block;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            pointer-events: none;
         &:before {
    content: "";
    display: block;
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 2px;
    background: #7f7f7f;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
   
  
}


&:after {
    content: "\f2c0";
    font-family: FontAwesome;
    color: #adadad;
    font-size: 18px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    height: calc(100% - 20px);
    bottom: 0;
    left: 0;
    padding-left: 13px;
    padding-top: 3px;
}
&.password:after{
    content: "\f084";
}
&.email:after{
    content:"\f003";
}


    }

   
} 


.signup-link{
    display: block;  
    margin-top: 20px;
    color: #222;
 text-align: center;
    &:hover{
        text-decoration: none;
        color: #ff00d0;
    }
}

.left-nav-wrap,.right-content-wrap{
    box-shadow: 1px 1px 15px 0px rgba(186, 186, 186, 0.6);
    background: #fff;
    min-height: 400px;
}
.right-content-wrap{
    padding: 20px;
}
.left-nav{

    li{
        a{
            display: block;
            padding: 20px;
            font-family: 'Roboto', sans-serif;
            font-size: 16px;
            color: #000;
            border-bottom: 1px solid rgba(186, 186, 186, 0.6);
            transition: 0.3s all;

            &:hover,&.active{
                text-decoration: none;
                background: #a300e2;
                color: #fff;
            }
        }
    }
}

//tab styles

.nav-tabs{
    border-top:none;
    border-bottom: 1px solid rgba(186, 186, 186, 0.6);
    li{
        margin-bottom: 0;
        a{
            font-size: 16px;
            font-weight: 700;
            color: #000;
            padding: 10px 50px;
            transition: 0.3s all;
            &:hover{
                background: none;
                border:1px solid transparent;
                color:#a300e2;
                text-decoration: none;
            }
        }
    }

    
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{
    border: 1px solid transparent;
    background: none;
    color: #a300e2;

    &:after{
        border-bottom: 2px solid #a300e2;
        content: '';
        position: absolute;
        left: 0;
        width: 100%;
        bottom: -3px;
        border-radius: 50px;
    }
}
 
.tab-pane{
    padding: 20px 0;
}

.form-control{
    border-radius: 0;
}


.btn-primary{
    background: #a300e2;
    color: #fff;
    padding: 10px 20px;
    border-radius: 0;
    border:none;
    font-weight: 500;
    transition: 0.3s all;

    &:hover{
        background: #000;
    }
}

.btn-secondary{
    background:none;
    color: #fff;
    padding: 9px 20px;
    border-radius: 0;
    border:none;
    font-weight: 500;
    transition: 0.3s all;
    border:1px solid #a300e2;
    color: #a300e2;
    margin-left: 10px;
    &:hover{

        background:#000;
        color: #fff;
        border:1px solid #000;

    }
}








































































































































































































footer{
    background: #000;
    padding: 10px;
    color: #fff;
    font-size: 14px;
    text-align: center;
}







@media(min-width:1366px){

    .container{
        width: 1300px;
    }
}





//login css
.container-login100-form-btn {
 
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.wrap-login100-form-btn {
    width: 100%;
    display: block;
    position: relative;
    z-index: 1;
    border-radius: 25px;
    overflow: hidden;
    margin: 0 auto;
    box-shadow: 0 5px 30px 0px rgba(3, 216, 222, 0.2);
 
}
.login100-form-bgbtn {
    position: absolute;
    z-index: -1;
    width: 300%;
    height: 100%;
    
  
    background: rgb(235,181,42);
    background: linear-gradient(90deg, rgba(235,181,42,1) 0%, rgba(255,222,0,0.846673703661152) 49%, rgba(215,189,35,1) 100%);
        top: 0;
    left: -100%;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.login100-form-btn {
     font-size: 16px;
    color: #222;
    line-height: 1.2;
    text-transform: uppercase;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    width: 100%;
    height: 50px;
    outline: none !important;
    border: none;
    background: transparent;
}

.wrap-login100-form-btn:hover .login100-form-bgbtn {
    left: 0;
}